:root{
    --table-row-height : 40px;
}
*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgb(247, 247, 146);
    display: flex;
    justify-content: center;
    padding: 10px;
}
main{
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
}
table {
    border-spacing: 10px 10px;
}
td.table-center{
    text-align: center;
    font-weight: 600;
}
tr {
    width: 1000px;
}
td {
    border: 1px solid #000000;
    padding: 0 10px;
}
input[type='text'] {
    height: 30px;
    width: 400px;
}
button{
    height: 36px;
    padding: 0 5px;
}
td.note{
    width: 80%;
}
input.edit-note{
    width: 100%;
    height: var(--table-row-height);
}
.valid-errors{
    height: 30px;
}
p.error {
    color: #ff0000;
}
a>img{
    height: var(--table-row-height);
}