body{
    background-color: rgb(247, 247, 146);
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
}
table {
    border-spacing: 10px 10px;
}
td.table-center{
    text-align: center;
    font-weight: 600;
}
tr {
    width: 1000px;
}
td {
    border: 1px solid #000000;
    padding: 0 10px;
    height: 50px;
}
input[type='text'] {
    height: 30px;
    width: 400px;
}
button{
    height: 36px;
}
td.note{
    width: 80%;
}
input.edit-note{
    width: 100%;
    height: 50px;
}
p.error {
    color: #ff0000;
}