*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 246, 233);
    min-height: 100vh;
    padding-top: 50px;
}
h1{
    padding: 20px 0;
}
main{
    display: flex;
    justify-content: space-around;
    width: 80vw;
}
form{
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid rgb(186, 185, 185);
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgb(80, 80, 80);
    padding: 60px 40px;
    background-color: rgb(234, 250, 250);
    align-self: flex-start;
    margin-right: 50px;
}
.block-right{
    width: 620px;
    height: 620px;
    background-color: #f4f4f4;
}
.block-right .wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.computing-text{
    flex-basis: 20%;
}
form p{
    color: #c71212;
    font-size: 14px;
}
form>div{
    padding: 15px 0;
    height: 20px;
}

.invalid{
    border: 1px solid;
    border-color: #c71212;
}
.frame{
    margin: 50px;
    flex-basis: 80%;
}
.room{
    background-image: linear-gradient(#008000, #dfd);
    border: 1px solid;
}
